
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script src="../static/assets/js/graph.js"></script>

    <title>Filters </title>
    <style>
    .importFilter 
    {
        background: rgb(35, 73, 73);
        color: rgb(255, 255, 255);
        font-weight: bold;
        border: none;
        outline: none;
        cursor: pointer;
        height: 40px;
        width: 130px;
    }
    .button
    {
        background: rgb(35, 73, 73);
        color: rgb(255, 255, 255);
        font-weight: bold;
        border: none;
        outline: none;
        cursor: pointer;
        height: 40px;
        width: 130px;
    }
    </style>

</head>

<body>
    
    <!-- <label>Upload Signal</label> -->

    <form action = "http://localhost:5000/importFilter" method = "POST" 
    enctype = "multipart/form-data">
    <input type = "file" name = "uploaded_filter" />
    <input type = "submit"/>
     </form>
    <button >

    <button >
        <a style="text-decoration:none" href="static/assets/data/Zeros_poles.csv" download> Export Filter</a>
    </button>

    <!-- <label>Upload Signal</label> -->
    <form action = "http://localhost:5000/importSignal" method = "POST" 
    enctype = "multipart/form-data">
    <input type = "file" name = "uploaded_signal" />
    <input type = "submit"/>
        </form>

    <div id="plot1"></div>
    <div id="plot2"></div>
</body>

</html>